name: CD Pipeline

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:
  deploy-aws:
    name: Deploy to AWS ECS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
          | docker login --username AWS --password-stdin \
          $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Deploy Backend to ECS
        run: |
          aws ecs update-service \
            --cluster devops-assignment-cluster \
            --service backend-service \
            --force-new-deployment

      - name: Deploy Frontend to ECS
        run: |
          aws ecs update-service \
            --cluster devops-assignment-cluster \
            --service frontend-service \
            --force-new-deployment


  deploy-gcp:
    name: Deploy to GCP Cloud Run
    runs-on: ubuntu-latest
    needs: deploy-aws

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Deploy Backend to Cloud Run
        run: |
          gcloud run deploy backend-service \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/backend \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated

      - name: Deploy Frontend to Cloud Run
        run: |
          gcloud run deploy frontend-service \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/frontend \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated

